.Meaning {
  text-align: left;
  padding-left: 50px;
}

.partOfSpeech {
  font-style: italic;
  background-color: beige;
}

.definition {
  color: rgb(68, 67, 67);
  font-weight: 600;
  padding-left: 50px;
}

.example {
  color: grey;
  text-decoration: wavy;
  padding-left: 50px;
}
