ul {
  display: flex;
  list-style: none;
  margin-top: 0;
}

li {
  font-size: 14px;
  font-weight: 600;
  color: grey;
  display: inline-block;
  padding: 10px;
  margin-bottom: 20px;
}

.synonyms {
  margin-bottom: 20px;
}
